nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 83%;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 7%;
    left: 0;
}

nav #main-heading{
    text-decoration: none;
    color: #B89535;
    font-size: 2rem;
    font-weight: bold;
    font-family: Dancing script;
}
.tabs {
    display: flex;
    position: relative;
    gap: 15px;
  }
  
  .tabs * {
    z-index: 2;
  }
  
  .container input[type="radio"] {
    display: none;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  
  .tabs label a{
    text-decoration: none;
    color: black;
  }
  
  .container input[type="radio"]:checked + label {
    color: #185ee0;
  }
  
  .container input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
    margin: 0px;
  }
  
  .container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  
  .container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(75%);
    width: 72px;
  }
  
  .container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(260%);
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 50px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  
  @media (max-width: 700px) {
   
    .tabs {
      transform: scale(0.6);
    }
  }
  